soundfile==0.12.1
streamlit==1.29.0
accelerate==0.25.0
bitsandbytes==0.41.3.post2
datasets==2.16.1
soundfile==0.12.1
streamlit==1.29.0
torch==2.1.2
transformers==4.36.2
sentencepiece==0.1.99
openai==0.28
